/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */

body{
	padding-top: 30px;
}

#page {
	background-color: #fff; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	margin: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


#content{
	min-height: 300px;
}

span.content
{
	height: 50px;
	overflow: scroll;
}

#footer{
	
}

.ui-autocomplete{
	max-height: 100px; overflow-y: scroll; overflow-x: hidden;
}

#new_account{
	width: 500px; 
	margin: 60px auto;	
} 

#headband{
	color: #859bbb;
	height: 30px;
	background-color: rgba(12, 15, 18, 0.75);
	padding-top: 5px;
	padding-right: 20px;

}


#menu{
	position: absolute;
	top: 30px;
	width: 700px;	
	height: 400px;	

	text-align:center;			
	font-size: 13pt;
	z-index:100;
	
	border: solid 1px #595754;
	box-shadow: 0px 8px 10px #808080;			
	background-color: rgba(89, 87, 84, 0.75);
	display: none;
	color:	white;
	
	font-size: 1.2em ;	
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-bottom-left-radius: 12px;
	border-bottom-left-radius: 12px;		
}

/*Largeur des cellules pour le menu */
.Td_menu{
	width:250px;
	height: 200px;
	text-align:center;
	vertical-align:middle;
}

.toolbar{
	margin-right: 70px;
}

h2.title{
	text-align: center;
	color: white;
	background-color: #414c5b;
	
	border-top: inset 2px white;
	border-bottom: inset 2px white;	
	border-right: inset 2px white;
	
	-webkit-border-top-right-radius: 20px;
	-moz-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;	
}
